<a href="https://colab.research.google.com/github/MoisesRossi/Exercicios/blob/main/Exercicios_pandas_1_Moises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Exercício

Muitas vezes os dados que você irá acessar virão no formato de dicionários.

**Crie  um DataFrame usando o dicionário abaixo e  use a lista rótulos(também abaixo) como índice.**

In [ ]:
import pandas as pd

In [ ]:
exam_data = {'nome': ['Sandra', 'Carlos', 'Regiane', 'Cesar', 'Eliana', 'Marcelio', 'Marcos', 'Leandra', 'Roberto', 'João'],
'pontuação': [10, 9, 6.5, 8.7, 9, 6.8, 9.5, 5, 8, 4],
'tentativas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'aprovado': ['sim', 'sim', 'não', 'sim', 'sim', 'não', 'sim', 'não', 'sim', 'não']}

rotulos = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**crie o dataframe:**

In [ ]:
df = pd.DataFrame(exam_data)
#gabarito df = pd.DataFrame(exam_data , index=rotulos)

**visualize algumas linhas da  tabela que você criou**

In [ ]:
df.head()

      nome  pontuação  tentativas aprovado
0   Sandra       10.0           1      sim
1   Carlos        9.0           3      sim
2  Regiane        6.5           2      não
3    Cesar        8.7           3      sim
4   Eliana        9.0           2      sim

**mude o nome da coluna pontuação para notas**

In [ ]:
df.rename(columns={'pontuação' : 'Notas'}, inplace=True)

In [ ]:
df.head()

      nome  Notas  tentativas aprovado
0   Sandra   10.0           1      sim
1   Carlos    9.0           3      sim
2  Regiane    6.5           2      não
3    Cesar    8.7           3      sim
4   Eliana    9.0           2      sim

**Imprima informações basicas do dataframe que você criou**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nome        10 non-null     object
 1   Notas       10 non-null     float64
 2   tentativas  10 non-null     int64
 3   aprovado    10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

**Imprima as colunas do seu dataframe**

In [ ]:
print(df.columns)

Index(['nome', 'Notas', 'tentativas', 'aprovado'], dtype='object')

In [ ]:
print(df.index)

RangeIndex(start=0, stop=10, step=1)